@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --background-colour: rgb(255, 255, 255);
    --main-colour: rgb(3, 76, 171);
    --disabled-colour: rgb(68, 68, 68);
    --secondary-colour: rgb(204, 167, 0);
    --font-family: 'Roboto Mono', monospace;
    --reaction-colour: rgb(0, 153, 0);
}

body {
    background-color: var(--background-colour);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

button{
    font-family: var(--font-family);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    min-height: min-content;
    height: 25px;
    background-color: var(--secondary-colour);
    box-shadow: 0px 0px 7px 1px var(--secondary-colour);
    color: var(--main-colour);
    transition: 0.07s;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 10px 3px var(--secondary-colour);
}

button:disabled{
    background-color: var(--disabled-colour);
    color: white;
    box-shadow: 0px 0px 7px 2px var(--disabled-colour);
}

h1{
    margin: 10px;
    display: flex;
    justify-content: center;;
}

input{
    border: solid;
    border-radius: 1vh;
    border-color: var(--secondary-colour);
    font-family: var(--font-family);
    font-size: 2vh;
    box-shadow: 0px 0px 7px 2px var(--secondary-colour);
}

input:focus{
    outline: none;
}

p{
    margin: 0px;
}

#test-div{
    display: flex;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* DIV TO THE LEFT OF THE REACTION BUTTON, HOLDS ALL THE INFORMATION FOR THE USER */
#reaction-info-div{
    display: flex;
    background-color: var(--secondary-colour);
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px var(--secondary-colour);
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
}


/* DIV HOLDING THE TOTAL AMOUNT OF TESTS PER ATTEMPT */
#reaction-attempts-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* AMOUNT OF TESTS */
.mini-title-p{
    color: var(--main-colour);
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 19px;
}

/* REACTION SLIDER VALUE */
#reaction-slider-value{
    margin-top: 10px;
    margin-left: 15px;
    color: var(--main-colour);
    font-size: 19px;
}

/* REATION RESULTS PARAGRAPH */
#reaction-results{
    color: var(--main-colour);
    font-size: 17px;
    font-weight: bold;
}

/* REACTION TESTS AMOUNT SLIDERBAR */
#reaction-test-slider{
    width: 15vw;
    box-shadow: none;
    appearance: none;
    background: var(--main-colour);
    border-radius: 15px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px 1px rgb(60, 60, 60);
    margin-top: 5px;
}

/* CSS FOR THE KNOB OF THE SIDERBAR */
#reaction-test-slider::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    background: var(--secondary-colour);
    height: 3vh;
    width: 1vw;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(60, 60, 60);
}

#reaction-btn{
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    font-weight: bold;
    font-size: 5vh;
    box-shadow: 0px 0px 5px 1px var(--main-colour);
    transition: 0.1s;
    width: 70vh;
    height: 50vh;
}

/* Styling for the reaction button for each stage */
#reaction-btn:hover{
    box-shadow: 0px 0px 10px 4px var(--main-colour);
}

#reaction-btn.ready{
    color: var(--main-colour);
    background-color: rgb(197, 175, 7);
    box-shadow: 0px 0px 7px 2px rgb(197, 175, 7);
}

#reaction-btn.ready:hover{
    box-shadow: 0px 0px 10px 5px rgb(197, 175, 7);
}

#reaction-btn.click{
    background-color: var(--reaction-colour);
    box-shadow: 0px 0px 7px 2px var(--reaction-colour);
}

#reaction-btn.click:hover{
    box-shadow: 0px 0px 10px 5px var(--reaction-colour);
}

#reaction-btn.early{
    background-color: rgb(200, 0, 0);
    box-shadow: 0px 0px 7px 2px rgb(200, 0, 0);
}

#reaction-btn.early:hover{
    box-shadow: 0px 0px 10px 5px rgb(200, 0, 0);
}

#navigation-bar{
    width: 100%;
    height: 60px;
    background-color: var(--main-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px var(--main-colour);
}

.nav-btn{
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 0px 7px 1px var(--secondary-colour);
    transition: 0.1s;
    width: max-content;
    height: 50%;
}

.nav-btn:hover{
    box-shadow: 0px 0px 12px 3px var(--secondary-colour);
}

.section-div{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Styling for the memory test */
.memory-game-div{
    padding: 0px;
    margin: 0px;
}

.memory-btn-col{
    padding: 0px;
    margin: 0px;
}

.memory-btn{
    width: 15vh;
    height: 15vh;
    min-height: 50px;
    min-width: 50px;
    margin: 10px;
    border: none;
    background-color: var(--main-colour);
    border-radius: 3vh;
    box-shadow: 0px 0px 7px 2px var(--main-colour);
    color: white;
}

.memory-btn:hover{
    box-shadow: 0px 0px 10px 4px var(--main-colour);
}

.memory-btn.chosen{
    background-color: var(--secondary-colour);
    box-shadow: 0px 0px 7px 2px var(--secondary-colour);
}

.memory-btn.wrong{
    background-color: red;
    box-shadow: 0px 0px 7px 2px red;
}

.memory-btn:disabled{
    background-color: var(--disabled-colour);
    box-shadow: 0px 0px 7px 2px var(--disabled-colour);
}

.memory-btn.correct{
    background-color: green;
    box-shadow: 0px 0px 7px 2px green;
}

#memory-start-btn{
    margin-top: 10px;
    width: 15vh;
    height: 5vh;
    font-size: 2vh;
}

/* Styling for the typing test */

#type-test-input{
    border:none;
    box-shadow: 0px 0px 7px 2px var(--secondary-colour);
    height: 5vh;
    font-size: 4vh;
    width: 80vw;
    background-color: transparent;
    text-align: center;
}

#type-test-input:focus{
    outline: none;
}

#type-test-input:disabled{
    box-shadow: 0px 0px 7px 2px var(--disabled-colour);
    background-color: var(--disabled-colour);
}

#type-word-info-div{
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    gap: 10px;
    width: 80vw;
    height: 7vh;
    justify-content: center;
    align-items: center;    
}

#type-word-info-div p{
    text-align: center;
    margin: 0px;
}

#type-start-btn:disabled{
    background-color: var(--disabled-colour);
    color: white;
    box-shadow: 0px 0px 7px 2px var(--disabled-colour);
}

#type-chart{
    max-width: 70vw;
    max-height: 50vh;
}

#section-3-div{
    position: relative;
    width: 100vw;
    height: 92.6vh;
}

#type-overlay-div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(100, 100, 100, 0.5);
    z-index: 10;
}

#count-down-p{
    color: white;
    position: absolute;
    font-size: 20vh;
    width: 30vh;
    height: 30vh;
    background-color: var(--main-colour);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 7px 2px var(--main-colour);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.display-word{
    font-size: 7vh;
    margin: 5px;
}

#word-1{
    opacity: 25%;
}
#word-3{
    opacity: 25%;
}

#display-word-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: min-content;
}

#type-info-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

#type-info-div p{
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#score-submit-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#name-input{
    font-size: 2vh;
    text-align: center;
    margin-left: 10px;
}

.swal2-popup.swal2-toast{
    background-color: var(--main-colour);
    box-shadow: 0px 0px 7px 2px var(--secondary-colour);
    color: white;
    border: solid;
    border-color: var(--secondary-colour);
    border-radius: 10px;
}

#graphics-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.leaderboard{
    background-color: var(--main-colour);
    color: white;
    min-width: 20vh;
    min-height: 40vh;
    border-radius: 20px;
    border: solid;
    box-shadow: 0px 0px 7px 2px var(--secondary-colour);
    border-color: var(--secondary-colour);
    font-size: 1.5vh;
}

th{
    padding: 10px;
}
td{
    padding: 10px;
    padding-top: 0px;
}

#whole-leaderboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#get-leaderboard-btn{
    margin-top: 10px;
}


/* Sound test styling */

#synth-div {
    position: relative;
    width: 75vw;
    height: 50vh;
    background-color: #636363;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    overflow: hidden; 
    box-shadow: 0px 0px 20px 2px darkgoldenrod;
}

#white-keys {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 5px;
}

.white-key {
    position: relative;
    flex: 1;
    background-color: white;
    height: 100%;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
    box-shadow: none !important;
    border: none;
    transition: 0.1s;
}

.black-key {
    min-width: 10px;
    max-width: 100px;
    position: absolute;
    top: 0;
    right: calc(-30% - 2.5px); 
    width: 60%; 
    height: 60%;
    background-color: black;
    border: none;
    border-radius: 0px 0px 6px 6px;
    pointer-events: auto; 
    cursor: pointer;
    z-index: 10;
    box-shadow: none !important;
    transition: 0s;
}


.white-key:hover:not(:has(.black-key:hover)){
    background-color: gold;
}

.black-key:hover{
    background-color: gold;
    outline: solid;
    outline-color: var(--main-colour);
    outline-width: 5px;
}

.white-key.played{
    background-color: var(--main-colour);
}

.black-key.played{
    background-color: var(--main-colour);    
}

.white-key.active {
    background-color: rgb(200, 170, 0) !important;
    box-shadow: none !important;
}

.black-key.active {
    background-color: rgb(200, 170, 0);
    transform: scaleY(0.98);
    transform-origin: top;
}