@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --background-colour: rgb(255, 255, 255);
    --main-colour: rgb(3, 76, 171);
    --secondary-colour: rgb(204, 167, 0);
    --font-family: 'Roboto Mono', monospace;
}

body {
    background-color: var(--background-colour);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

button{
    font-family: var(--font-family);
}

#navigation-bar{
    min-width: 100%;
    min-height: 60px;
    background-color: var(--main-colour);
    display: flex;
    align-items: center;
    padding: 10px;
}



.nav-btn{
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    font-weight: bold;
    cursor: pointer;
}