:root{
    --background-colour: rgb(255, 255, 255);
    --main-colour: rgb(3, 76, 171);
    --disabled-colour: rgb(68, 68, 68);
    --secondary-colour: rgb(204, 167, 0);
    --font-family: 'Roboto Mono', monospace;
    --reaction-colour: rgb(0, 153, 0);
    --box-background-colour: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family);
}

h1{
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    padding: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 4px var(--main-colour);
    max-width: 100%;
    font-size: calc((3vw + 3vh)/2);
    margin-top: 0px;
    width: 75%;
}

h2{
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: max-content;
    border: solid;
    border-color: var(--main-colour);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px var(--secondary-colour);
    margin: 10px;
    margin-left: 0px;
    font-size: calc((3vw + 3vh)/2);
}

h3{
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: max-content;
    border: solid;
    border-color: var(--secondary-colour);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px var(--main-colour);
    margin: 10px;
    margin-left: 0px;
    font-size: calc((2vw + 2vh)/2);
}

p{
    color: var(--main-colour);
    font-size: calc((2vw + 2vh)/2);
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

ul{
    color: var(--main-colour);
    font-size: calc((2vw + 2vh)/2);
    margin: 0px;
}

button{
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: max-content;
    border: solid;
    border-color: var(--main-colour);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px var(--secondary-colour);
    margin: 10px;
    margin-left: 0px;
    font-size: calc((2vw + 2vh)/2);
    cursor: pointer;
    transition: box-shadow 0.2s;
}

button:hover{
    box-shadow: 0px 0px 10px 5px var(--secondary-colour);
}

button:active{
    box-shadow: 0px 0px 10px 2px var(--secondary-colour);
}

.code-snippet{
    background-color: rgb(59, 59, 59);
    border: solid;
    border-color: var(--secondary-colour);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgb(59, 59, 59);
    margin: 10px;
    height: min-content;
    margin-left: 0px;
    max-width: 100%;
}

pre code.hljs{
    display: block;
    overflow-x: auto;
    padding: 1.5rem;
    border-radius: 8px;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
    background: none;
}

#centering-div{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--box-background-colour);
    border-radius: 15px;
    border-color: var(--main-colour);
    box-shadow: 0px 0px 10px 5px var(--box-background-colour);
    padding: 30px;
    padding-top: 30px;
    max-width: 55vw;
    width: 70vw;
}

